
TD 4/.vs/TD2_INF1015_H23/FileContentIndex/3377e88c-3e76-49aa-b8d5-d561a2229e04.vsidx

TD 4/.vs/TD2_INF1015_H23/FileContentIndex/9e523cd4-a911-4e92-ab0c-f50710b6b4ea.vsidx

TD 4/.vs/TD2_INF1015_H23/FileContentIndex/d63ed784-7283-4a67-96b0-eedb29831c7f.vsidx

TD 4/.vs/TD2_INF1015_H23/FileContentIndex/dd344adb-1511-4706-bdc7-92af50121f16.vsidx

TD 4/.vs/TD2_INF1015_H23/FileContentIndex/read.lock

TD 4/.vs/TD2_INF1015_H23/v17/.suo

TD 4/.vs/TD2_INF1015_H23/v17/Browse.VC.db

TD 4/.vs/TD2_INF1015_H23/v17/ipch/AutoPCH/13290e8c0a1b1632/BIBLIOTHEQUE_COURS.ipch

TD 4/.vs/TD2_INF1015_H23/v17/ipch/AutoPCH/922e5066e0183328/VERIFICATION_ALLOCATION.ipch

TD 4/.vs/TD2_INF1015_H23/v17/ipch/AutoPCH/c3be9117d3fc3008/TD2.ipch

TD 4/.vs/TD2_INF1015_H23/v17/ipch/AutoPCH/c5bd3ca4233416d4/TD2.ipch

TD 4/.vs/TD2_INF1015_H23/v17/ipch/AutoPCH/c700e90dcb481f5c/VERIFICATION_ALLOCATION.ipch

TD 4/.vs/TD2_INF1015_H23/v17/ipch/AutoPCH/d74d62cee47f7d4f/STRUCTURES.ipch

TD 4/bibliotheque_cours.cpp

TD 4/bibliotheque_cours.hpp

TD 4/CodeCoverage_bugfix.h

TD 4/debogage_memoire.hpp

TD 4/Debug/bibliotheque_cours.obj

TD 4/Debug/td2.Build.CppClean.log

TD 4/Debug/td2.exe

TD 4/Debug/td2.exe.recipe

TD 4/Debug/td2.log

TD 4/Debug/td2.obj

TD 4/Debug/td2.pdb

TD 4/Debug/td2.tlog/CL.command.1.tlog

TD 4/Debug/td2.tlog/CL.read.1.tlog

TD 4/Debug/td2.tlog/CL.write.1.tlog

TD 4/Debug/td2.tlog/link.command.1.tlog

TD 4/Debug/td2.tlog/link.read.1.tlog

TD 4/Debug/td2.tlog/link.write.1.tlog

TD 4/Debug/td2.tlog/td2.lastbuildstate

TD 4/Debug/td2.vcxproj.FileListAbsolute.txt

TD 4/Debug/vc143.pdb

TD 4/Debug/verification_allocation.obj

TD 4/films.bin

TD 4/include/cppitertools/.clang-format

TD 4/include/cppitertools/accumulate.hpp

TD 4/include/cppitertools/BUILD

TD 4/include/cppitertools/chain.hpp

TD 4/include/cppitertools/chunked.hpp

TD 4/include/cppitertools/combinations_with_replacement.hpp

TD 4/include/cppitertools/combinations.hpp

TD 4/include/cppitertools/compress.hpp

TD 4/include/cppitertools/count.hpp

TD 4/include/cppitertools/cycle.hpp

TD 4/include/cppitertools/dropwhile.hpp

TD 4/include/cppitertools/enumerate.hpp

TD 4/include/cppitertools/filter.hpp

TD 4/include/cppitertools/filterfalse.hpp

TD 4/include/cppitertools/groupby.hpp

TD 4/include/cppitertools/imap.hpp

TD 4/include/cppitertools/internal/iter_tuples.hpp

TD 4/include/cppitertools/internal/iterator_wrapper.hpp

TD 4/include/cppitertools/internal/iteratoriterator.hpp

TD 4/include/cppitertools/internal/iterbase.hpp

TD 4/include/cppitertools/itertools.hpp

TD 4/include/cppitertools/LICENSE.md

TD 4/include/cppitertools/permutations.hpp

TD 4/include/cppitertools/powerset.hpp

TD 4/include/cppitertools/product.hpp

TD 4/include/cppitertools/range.hpp

TD 4/include/cppitertools/README.md

TD 4/include/cppitertools/repeat.hpp

TD 4/include/cppitertools/reversed.hpp

TD 4/include/cppitertools/slice.hpp

TD 4/include/cppitertools/sliding_window.hpp

TD 4/include/cppitertools/sorted.hpp

TD 4/include/cppitertools/starmap.hpp

TD 4/include/cppitertools/takewhile.hpp

TD 4/include/cppitertools/unique_everseen.hpp

TD 4/include/cppitertools/unique_justseen.hpp

TD 4/include/cppitertools/WORKSPACE

TD 4/include/cppitertools/zip_longest.hpp

TD 4/include/cppitertools/zip.hpp

TD 4/include/gsl/gsl

TD 4/include/gsl/gsl_algorithm

TD 4/include/gsl/gsl_assert

TD 4/include/gsl/gsl_byte

TD 4/include/gsl/gsl_util

TD 4/include/gsl/multi_span

TD 4/include/gsl/pointers

TD 4/include/gsl/span

TD 4/include/gsl/span_ext

TD 4/include/gsl/string_span

TD 4/livres.txt

TD 4/TD2_INF1015_H23.sln

TD 4/td2.vcxproj

TD 4/td2.vcxproj.filters

TD 4/td2.vcxproj.user

TD 4/verification_allocation.cpp

TD 4/verification_allocation.hpp

TD 4/.vs/TD2_INF1015_H23/FileContentIndex/15b3cdeb-89d1-467e-9988-dffbea6f8ba0.vsidx

TD 4/.vs/TD2_INF1015_H23/FileContentIndex/320b09e2-1e9a-4055-b804-219506d7f7ca.vsidx

TD 4/.vs/TD2_INF1015_H23/FileContentIndex/3631b091-d8fd-401c-aa0b-3313373f6bab.vsidx

TD 4/.vs/TD2_INF1015_H23/FileContentIndex/f018d962-8c4b-4f70-8c01-b895fd10a06d.vsidx

TD 4/.vs/TD2_INF1015_H23/v17/Browse.VC.db-shm

TD 4/.vs/TD2_INF1015_H23/v17/Browse.VC.db-wal

TD 4/.vs/TD2_INF1015_H23/v17/Browse.VC.opendb

TD 4/.vs/TD2_INF1015_H23/v17/ipch/AutoPCH/bd81067ac60f01f4/TD2.ipch

TD 4/Debug/td2.tlog/unsuccessfulbuild
